body {
  background-color: #2196f3;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2196f3;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.left {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.loginButtonsPC {
  display: flex;
  gap: 12px;
  margin-bottom: 10px;
  justify-content: center;
}

.hamburgerMenu {
  display: none;
  justify-content: center;
  margin-top: 10px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburgerImage {
  width: 30px;
  height: 30px;
}

.dropdownMenu {
  position: absolute;
  top: 60px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.menuButtonItem {
  display: block;
  background-color: transparent;
  border: none;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.menuText {
  margin-bottom: 10px;
  font-weight: bold;
}

/* スマホ用レスポンシブ */
@media (max-width: 768px) {
  .loginButtonsPC {
    display: none;
  }

  .hamburgerMenu {
    display: flex;
  }
}
